* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

.devise-container {
    margin: 0;
    padding: 0;
    background: #d36f0c;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 3vh;
    overflow: hidden;
    text-align: center;

}

.devise {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.mot {
    font-size: 2vw;
    font-weight: 800;
    animation: rebond 3s ease-in-out infinite, couleur 3s infinite linear;
    background-color: linear-gradient(270deg, #f72585, #7209b7, #3a0ca3, #4361ee, #4cc9f0);
    background-size: 400%;
    
    opacity: 0;
    transform: translateY(50px);
}


.mot:nth-child(1) { animation-delay: 0s, 0s;}
.mot:nth-child(2) { animation-delay: 0.3s, 0s;}
.mot:nth-child(3) { animation-delay: 0.6s, 0s;}

@keyframes rebond {
    0%, 100% {
        opacity: 0;
        transform: translateY(50px) scale(0.9);
    }
    60% {
        opacity: 1;
        transform: translateY(-10px) scale(1.05);
    }
}


@keyframes coleur {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@media (max-width: 768px) {
    .mot {
        font-size: 5vw;
    }
}

@media (max-width: 480px) {
    .mot {
        font-size: 3vw;
    }
}

.site-header {
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
    margin-bottom: 0;
    padding-bottom: 0;
}

.site-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}

.logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: #111;
    text-decoration: none;
}

.logo {
    max-width: 80px;
    width: auto;
    height: auto;
}
.photo {
    width: 140px;
    height: 120px;
}

@media (max-width: 768px) {
    .logo {
        max-height: 65px;
    }
    .photo {
    width: 105px;
    height: 90px;
}
}

@media (max-width: 480px) {
    .logo {
        max-height: 55px;
    }
    .photo {
    width: 95px;
    height: 80px;
}
}

.search-bar {
    flex: 1;
    margin: 0 1rem;
    min-width: 200px;
}

.search-bar input {
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 200px;
    border: 1px solid #ccc;
}

.user-actions{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user-actions a span {
    font-size: 1.2rem;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}

/* Menu mobile */
.mobile-nav {
    display: none;
    background-color: white;
    border-top: 1px solid #eee;
}

.mobile-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-nav li {
    border-bottom: 1px solid #eee;
}

.mobile-nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #333;
}

@media (max-width: 768px) {
    .search-bar {
        width: 100%;
        margin: 1rem 0;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-nav.show {
        display: block;
    }
}

.hero-flip {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    background-color: #f0f0f0;
    overflow: hidden;
    margin-top: 0;
    padding-top: 0;
}

.flip-card {
    width: 90%;
    max-width: 1200px;
    height: 300px;
    position: relative;
    margin-top: 0;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.flip-card-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s ease-in-out;
    align-items: center;
    justify-content: center;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.1rem;
    background-size: cover;
    background-position: center;
    
}

.flip-card-front {
    background-image: url();
}

.flip-card-back {
    background-image: url();
    transform: rotateY(180deg);
}

.flip-card-content h2 {
    color: #104c6f;
    font-size: 2rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.flip-card-content p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    justify-content: center;
}

.flip-card-content a {
    background: #0a5c64;
    padding: 0.7rem 1.5rem;
    border-radius: 30px;
    text-decoration: none;
    color: rgb(229, 132, 6);
    font-weight: bold;
    transition: background 0.3s;
    justify-content: center;
    text-align: center;
}

.flip-card-content a:hover {
    background: #043d6c;
}

@media (max-width: 768px) {


    .flip-card-content h2 {
        font-size: 1.5rem;
    }

    .flip-card-content p {
        font-size: 1rem;
    }

    .flip-card-content a{
        font-size: 0.9rem;
        padding: 0.6rem 1.2rem;
    }
}

.recherches-populaires {
    padding: 1rem 1rem;
    max-width: 1200px;
    margin: auto;

}

.recherches-populaires h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: center;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.75rem;
    justify-content: center;
}

.tag-button {
    background-color: #e0e0e0;
    color: #333;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.2s;
}

.tag-button:hover {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .recherches-populaires {
        padding: 2rem 1rem;
    }
    .recherches-populaires h2 {
        font-size: 1.2rem;
    }
    .tag-button {
        padding: 0.5rem 1rem;
        font-size: 0.9rem;
    }
}

.produits-vedette {
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: auto;
}

.produits-vedette h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.produits-container {
    display: grid;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.produits-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.produit-card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.produit-card:hover {
    transform: translateY(-5px);
}

.produit-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.produit-info {
    padding: 1rem;
}

.produit-info h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.produit-info p {
    font-size: 1rem;
    margin: 0.25rem 0;
}

.prix {
    color: #007bff;
    font-weight: bold;
}

.note {
    font-size: 0.9rem;
    color: #f4b400
}

.btn-ajouter {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #edad23;
    color:white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ;
}

.btn-ajouter:hover {
    background-color: #d77f0d;
}

.nouveautes {
    padding: 3rem 1rem;
    background-color: #ef8f09;
    max-width: 1200px;
    margin: auto;
}

.nouveautes h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.nouveautes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1.5rem;
}

.nouveau-produit {
    background: linear-gradient(to bottom right, #ffffff, #f0f8ff);
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    transition: transform 0.3s;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
}

.nouveau-produit:hover{
    transform: scale(1.03);
}

.nouveau-produit img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.nouveau-info {
    padding: 1rem;
}

.nouveau-info h3 {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.nouveau-info p{
    font-size: 0.95rem;
    margin: 0.25rem 0;
}

.nouveau-prix {
    color: #ff5722;
    font-weight: bold;
}

.badge-new {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ff5722;
    color: white;
    padding: 0.3rem 0.7rem;
    font-size: 0.75rem;
    border-radius: 5px;
}

.footer {
    background-color:#0a0a0a;
    color: rgb(18, 18, 18);
    padding: 3rem 1rem 1rem;
}

.footer-container {
    max-width: 1600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
    background-color:#da8310;
    padding: 50px;
}

.ooter-col h3 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.ooter-col p, 
.ooter-col ul {
    font-size: 0.95rem;
    line-height: 1.6;
    list-style: none;
    padding: 0;
}

.ooter-col ul li {
    margin-bottom: 0.5rem;
}

.ooter-col ul li a {
    color: #0b0b0b;
    text-decoration: none;
}

.ooter-col ul li a:hover {
    color: #170b42;
}

.social-links a {
    margin-right: 1rem;
    color: rgb(21, 21, 22);
    font-size: 1.2rem;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #070707;
}

#newsletter-form {
    display: flex;
    flex-direction: column;
}

#newsletter-form input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    margin-bottom: 0.5rem;
}

#newsletter-form button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #141414;
    color: rgb(249, 249, 251);
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#newsletter-form button:hover {
    background-color: #131313;
}

.footer-bottom {
    text-align: center;
    font-size: 0.85rem;
    background-color: #d36f0c;
}

.just-for-you {
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: auto;
}

.just-for-you h2 {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.just-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px){
    .just-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px){
    .just-container{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1024px){
    .just-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px){
    .just-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

.card-produit {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: transform 0.3s;
}

.card-produit:hover {
    transform: translateY(-4px);
}

.card-produit img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-info {
    padding: 1rem;
}

.card-info h3 {
    font-size: 1.1rem;
    margin: 0.5rem 0;
}

.card-info p {
    font-size: 0.95rem;
    margin: 0.25rem 0;
}

.card-price {
    color: #007bff;
    font-weight: bold;
}

.card-note {
    font-size: 0.9rem;
    color: #f4b400;
}

.filtres-section {
    padding: 2rem 1rem 0;
    max-width: 1200px;
    margin: auto;
}

.filtres-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 10px auto;
}

.search-ba {
    width: 100%;
    padding: 10px 40px 10px 35px;
    border: none;
    border-radius: 30px;
    background-color: #e6f4ea;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
    color: #075e54;
}

.search-ba::placeholder {
    color: #7d9d87;
}

.search-ba:focus {
    background-color: #d1f0dd;
    box-shadow: 0 0 0 2px #25D366;
}

    .search-ba:focus {
        transform: translateY(-50%) scale(1.1) 
    }

.filtres-container input[type="text"],
.filtres-container input[type="number"] {
    width: 100%;
    padding: 10px 40px 10px 35px;
    border: none;
    border-radius: 30px;
    background-color: #e6f4ea;
    font-size: 14px;
    transition: all 0.3s ease;
    outline: none;
    color: #075e54;
}

.filtres-container label {
    font-weight: bold;
    font-size: 0.9rem;
}

#btn-filtrer {
    padding: 0.6rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;

}

#btn-filtrer:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
   

    .filtre-prix {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #btn-filtrer {
        width: 80%;
    }
}

/*Modal de connexion*/
.modal {
    position: fixed;
    inset: 0;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    z-index: 1000;
}

.modal.show {
    display: flex;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 16px;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}
.modal-content {
    position: relative;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.modal button {
    padding: 0.7rem 1.5rem;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

#auth-info {
    padding: 0.8rem;
    text-align: right;
    font-size: 0.7rem;
    margin-right: 1.2rem;
}

#auth-info button {
     padding: 0.4rem 0.7rem;
    background: #007bff;
    border: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.modal input {
    width: 100%;
    padding: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    font-size: 1rem;
}

/*barre latérale*/
.side-cart {
    position: fixed;
    top: 0;
    right: -400px;
    width: 340px;
    height: 100%;
    background: #fff;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.2);
    z-index: 2000;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    transition: right 0.4s ease;
}

.side-cart.open {
    right: 0;
}

.side-cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0.5rem;
}

.cart-items {
    flex: 1;
    overflow-y: auto;
    margin: 1rem 0;
}

.side-cart-footer {
    border-top: 1px solid #ddd;
    padding-top: 0.5rem;
}

#btn-commander {
    width: 100%;
    padding: 0.7rem;
    background: #28a745;
    color: none;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    margin-top: 0.5rem;
    cursor: pointer;
}

.close-cart {
    font-size: 1.5rem;
    cursor: pointer;

}

.panier-compteur {
    position: absolute;
    top: 12px;
    right: 8px;
    background: rgb(234, 127, 4);
    color: white;
    border-radius: 50%;
    font-size: 0.7rem;
    padding: 2px 8px;
    font-weight: bold;
    z-index:100;
}

.btn-plus, .btn-moins {
    padding: 4px 10px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

.profil-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
}

.user-info {
    background: #f7f7f7;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 2rem;
}

.commandes {
    background: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 8px;
}

.btn-retour {
    display: inline-block;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background 0.3s ease;

}

.btn-retour:hover {
    background-color: #000;
}

.paiement-container {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
}

#form-paiement {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#form-paiement input, #form-paiement button {
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#form-paiement button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.badge-stock {
    position: absolute;
    top: 50px;
    left: -170px;
    transform: rotate(-45deg);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    padding: 5px 200px;
    z-index: 10;
    text-align: right;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.badge-stock.disponible {
    background-color: #28a745;
}

.badge-stock.rupture {
    background-color: #dc3545;
}

#bouton-3d {
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e57b09;
    color: rgb(254, 251, 251);
    padding: 14px;
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 12px 0 0 12px;
    cursor: pointer;
    z-index: 999;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    animation: pulseGlow 2s infinite ease-in-out;
}

@keyframes pulseGlow {
    0% {
        box-shadow: 0 0 10px rgba(255, 87, 34, 0.7), 0 0 20px rgba(33, 150, 243, 0.6);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 87, 34, 0.9), 0 0 30px rgba(33, 150, 243, 0.9);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 87, 34, 0.7), 0 0 20px rgba(33, 150, 243, 0.6);
    }
}

#bouton-3d:hover {
    transform: translateY(-50%) scale(1.05);
    background: linear-gradient(145deg, #ff6a3c, #3ea6ff);
}

#slide-3d {
    position: fixed;
    bottom: 0;
    left: 100%;
    width: 100%;
    background: #222;
    color: white;
    padding: 20px;
    transition: left 0.5s ease;
    z-index: 998;
}

#slide-3d.active {
    left: 0;
}

.contenu-slide {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.contenu-slide h2 {
    margin-bottom: 10px;
    font-size: 16px;
}

.contenu-slide p {
    margin-bottom: 20px;
    font-size: 16px;
}

.btn-decouvrir {
    background: #28a745;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;

}

.btn-decouvrir:hover {
    background: #218838;
}

@media (max-width: 768px) {
    #bouton-3d {
        top: auto;
        bottom: 15px;
        right: 0px;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        animation: none;
        background-color: rgba(0, 0, 0, 0.5);
        transition: none;
        box-shadow: none;
        font-size: 12px;
    }
    .contenu-slide h2 {
        font-size: 15px;
    }

    .contenu-slide p {
        font-size: 14px;
    }
}

.hero-3d {
    display: flex;
    min-height: 20vh;
    max-height: 60vh;
    background: #111;
    overflow: hidden;
}

.texte-hero {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #1c1c1c, #222);


}

.texte-hero h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #007bff;
    }

.texte-hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #aa4202;
}

.btn-hero {
    background: #ff5722;
    padding: 12px 28px;
    border-radius: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s ease;
}

.btn-hero:hover {
    background: #ff784e;
}

.media-hero {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.media-hero video, .media-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

@media (max-width: 768px) {
    .hero-3d {
        flex-direction:row;
    }
    .texte-hero {
        padding: 10px;
        text-align: center;
    }
    .texte-hero h1 {
        font-size: 1rem;
    }
    .texte-hero p {
        font-size: 0.5rem;
    }
    .btn-hero {
        font-size: 0.9rem;
        padding: 4px 9px;
    }
}

.section-alterne {
    display: flex;
    flex-direction: column;
}

.bloc {
    display: flex;
    align-items: center;
    padding: 30px 10%;
    gap: 20px;
    flex-direction: row;
}

.bloc img {
    width: 50%;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0 , 0.3);
    transition: transform 0.4 ease;
}

.bloc img:hover {
    transform: scale(1.05);
}

.bloc .texte {
    width: 100%;
}

.bloc h2 {
    font-size: 2rem;
    margin-bottom: 0px;
}

.bloc p {
    font-size: 1.5rem;
    color: #444;
}

.bloc-droite {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .bloc {
        flex-direction: row;
        

    }
    .bloc h2 {
        font-size: 1rem;
    }
    .bloc p {
        font-size: 0.6rem;
    }
    
}

.timeline {
    padding: 60px;
    background: #f9f9f9;
    text-align: center;
}

.titre-timeline {
    font-size: 2rem;
    margin-bottom: 40px;
}

.etapes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.etape {
    position: relative;
    background: white;
    padding: 20px 30px;
    border-left: 4px solid #2196F3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    animation: slideIn 0.8s ease both;
}

.etape span {
    background: #2196F3;
    color: white;
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-30px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (max-width: 768px) {
    etape span {
        width: 15px;
        height: 15px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.modal-contenu {
    background: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 90%;
    position: relative;
}

.modal-contenu h2 {
    margin-top: 0;
}

.modal-contenu input, .modal-contenu textarea {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.modal-contenu button {
    background: #2196F3;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 6px;
    font-weight: bold;
}

#fermer-popup {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
}

.lien-commande {
    display: inline-block;
    color: #2196F3;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.lien-commande:hover {
    text-decoration: underline;
}

.projets-realises {
    padding: 4rem 2rem;
    background: #f9f9f9;
    text-align: center;
}

.projets-realises h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    animation: fadeInDown 1s ease;
}

.grille-projets {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.carte-projet {
    background: white;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.media-parallax img, .media-parallax video {
    width: 100%;
    height: 130%;
    object-fit: cover;
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.carte-projet.visible {
    opacity: 1;
    transform: translateY(0);
}